@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../../Bolivia/css/bolivia.css');
@import url('../../Panama/css/panama.css');
@import url('../../Paraguay/css/paraguay.css');

@font-face {
    font-family: 'Helvetica';
    font-weight: 400;
    src: url(https://fonts.cdnfonts.com/s/62895/HelveticaNeueRoman.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    font-weight: 700;
    src: url(https://fonts.cdnfonts.com/s/62895/HelveticaNeueBold.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    src: url('../assets/GilroyBold.ttf') format('truetype');
    font-display: swap;
}

.shake {
    animation: shake 0.5s;
}

.hidden-description {
    bottom: -100%;
}

@media (hover: hover) and (pointer: fine) {
    div:hover > .hidden-description {
        bottom: 0;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0) rotateZ(0);
    }
    25% {
        transform: translateX(-5px) rotateZ(-5deg);
    }
    50% {
        transform: translateX(5px) rotateZ(5deg);
    }
    75% {
        transform: translateX(-5px) rotateZ(-5deg);
    }
    100% {
        transform: translateX(0) rotateZ(0);
    }
}

