@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../assets/Poppins-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url('../assets/Poppins-Bold.ttf') format('truetype');
    font-display: swap;
}

